/* Filters styles */
.filters {
    display: flex;
    justify-content: space-between;
}

.locations,
.amenities {
    position: relative;
}

.locations .popover,
.amenities .popover {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style: none;
    padding: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

ul {
    padding: 0;
}

li {
    font-size: 14px;
}
